<div class="container mt-5">
    <div class="card p-4">
        <form #loginForm="ngForm" (ngSubmit)="login(loginForm)" class="form">
            <h2 class="text-center mb-4">Inicio de Sesión</h2>

            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Nombre de Usuario</mat-label>
                <input matInput ngModel name="userName" id="userName" placeholder="Nombre de Usuario">
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Contraseña</mat-label>
                <input type="password" matInput ngModel name="userPassword" id="userPassword" placeholder="Contraseña">
            </mat-form-field>

            <button class="w-100 mt-3" type="submit" mat-raised-button color="primary">Iniciar Sesión</button>
           
        </form>
    </div>

    <div class="text-center mt-3">
        <p>¿No tienes una cuenta?</p>
        <button class="w-50" type="button" mat-raised-button color="accent" (click)="registerUser()">Registrarse</button>
    </div>
</div>
