<div class="container mt-5">
    <div class="card text-center" style="padding: 20px;">
        <img src="https://blog.hubspot.es/hubfs/media/logotucasaexpress.png" alt="Tu Casa Express Logo" class="logo">
        <h1 class="text-primary">¡Bienvenido a Tu Casa Express!</h1>
        <p class="lead">Gracias por registrarte. Iniciar sesión con nosotros es el primer paso para cambiar tu futuro y adquirir tu vivienda ideal. En Tu Casa Express, trabajamos para ti y haremos todo lo posible para cumplir tus sueños.</p>
        <p class="lead">¡Recuerda, tu casa expres trabaja para ti!</p>
    </div>
</div>
