<div class="container mt-5">
    <div class="card p-5 text-center">
        <h1 class="text-success">¡Gracias por confiar en nosotros!</h1>
        <p class="lead">En unos minutos, uno de nuestros asesores se pondrá en contacto contigo para continuar con el proceso de pago y pronto obtendrás tu nueva vivienda.</p>
    </div>
    <div class="text-center mt-5">
        <img src="https://blog.hubspot.es/hubfs/media/logotucasaexpress.png" alt="Logo" class="logo-image img-thumbnail">
        <div class="quote">
            <h2 class="text-white">¡Tu hogar te espera!</h2>
            <p class="lead text-white">"El primer paso hacia tus sueños es confiar en nosotros. Juntos haremos realidad tu deseo de tener tu propio hogar."</p>
        </div>
    </div>
</div>
