<div class="mt-5 p-3">

  <mat-form-field appearance="outline" class="w-50">
    <mat-label>Buscar Producto</mat-label>
    <input 
    #searchkeyword
    (keyup)="searchByKeyword(searchkeyword.value)"
    matInput name="searchKey" id="searchKey" placeholder="Buscar Producto">      
  </mat-form-field>

  <div *ngIf="showTable">
    <table mat-table [dataSource]="productDetails" class="mat-elevation-z8 tabla-productos">

      <!-- Columnas -->
      <ng-container matColumnDef="Id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.productId}} </td>
      </ng-container>
    
      <ng-container matColumnDef="Nombre del Producto">
        <th mat-header-cell *matHeaderCellDef> Nombre del Producto </th>
        <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
      </ng-container>
    
      <ng-container matColumnDef="Descripción del Producto">
        <th mat-header-cell *matHeaderCellDef> Descripción del Producto </th>
        <td mat-cell *matCellDef="let element"> {{element.productDescription}} </td>
      </ng-container>
    
      <ng-container matColumnDef="Precio con Descuento">
        <th mat-header-cell *matHeaderCellDef> Precio con Descuento </th>
        <td mat-cell *matCellDef="let element"> {{element.productDiscountedPrice | currency:'COP':'symbol':'1.0-0'}} </td>
      </ng-container>

      <ng-container matColumnDef="Precio Actual">
        <th mat-header-cell *matHeaderCellDef> Precio Actual </th>
        <td mat-cell *matCellDef="let element"> {{element.productActualPrice | currency:'COP':'symbol':'1.0-0'}} </td>
      </ng-container>

      <ng-container matColumnDef="Acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element"> 
          <button mat-icon-button color="primary" (click)="showImages(element)">
            <mat-icon>image</mat-icon>
          </button>

          <button mat-icon-button color="primary" (click)="editProductDetails(element.productId)">
            <mat-icon>edit</mat-icon>
          </button>

          <button mat-icon-button color="warn" (click)="deleteProduct(element.productId)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>     
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <div class="text-center mt-5" style="padding-bottom: 100px;" *ngIf="showLoadMoreProductButton">
    <button type="button" mat-raised-button color="primary" (click)="loadMoreProduct()">Cargar más</button>
  </div>
</div> 
